body {
    background: #c2bfbfe5;
}
div.portfolio-wrapper {
    display: flex;
    justify-content: space-around;
}

#pawel {
    background: #111;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 2.5em; 
    margin-top: 50px;
}

.btn {
    background: #ffcc00; 
    padding: 10px 20px; 
    border-radius: 5px; 
    color: #111; 
    text-decoration: none;
}

.projects {
    margin-top: 30px;
}

.projects a {
    display: block; margin: 10px 0; color: #ffcc00; text-decoration: none;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

footer nav ul li {
    list-style: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section h3 {
    text-align: center;
}
