body {
    background: #c2bfbfe5;
}

div.portfolio-wrapper {
    display: flex;
    justify-content: space-around;
}

#pawel {
    background: #111;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #fff;
}

#pawel h1 {
    font-size: 2.5em;
    margin-top: 50px;
}

#pawel .btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background: #05460f;
    transition: 0.3s;
    display: inline-block;
    max-width: 200px;
    margin: 0 auto;
    box-shadow: inset 0em 1em 0.1em #afff0082;
}

#pawel .btn:hover {
    animation: shake 0.3s ease-in-out infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#pawel .projects {
    margin-top: 30px;
}

#pawel .projects .link-wrapper {
    display: flex;
    justify-content: space-around;
}

#pawel .projects a {
    display: block;
    margin: 10px 0;
    color: #ffcc00;
    text-decoration: none;
    background: #140c51de;
    padding: 40px;
    border-radius: 12px;
}

#pawel .projects a:hover {
    background: #655cb6de;
}

#pawel img {
    height: auto;
    max-width: 100%;
}

footer ul {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 0;
}

footer li {
    list-style: none;
}

footer li a {
    text-decoration: none;
    animation: blinkColors 1.5s infinite alternate;
}

@keyframes blinkColors {
    0% {
        color: red;
    }

    25% {
        color: yellow;
    }

    50% {
        color: lime;
    }

    75% {
        color: cyan;
    }

    100% {
        color: magenta;
    }
}

#form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    gap: 20px;
}

#form input {
    padding: 10px 15px;
}

#form textarea {
    padding: 30px 15px;
}